@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    /*height:  100%; */
}

body {
    background-image: linear-gradient(to right, #F29F8D, #F4C28D) ;
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(99, 47, 47, 0.418);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #A64B4B;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(129, 58, 58, 0.651);

}

h2{
    color: #D99A4E;


}

p {
    text-align: justify;
}
